{% comment %}
  @name history

  @include {String} title
  @include {String} icon
  @include {Array} history
  @include {String} [empty]
{% endcomment %}


{% if include.history and include.history != empty %}

  {% include home/_core/title-with-icon.html title=include.title icon=include.icon %}

  <ul class="timeline">
    {% for value in include.history %}
      <li class="timeline-inverted">
        <div class="timeline-badge info">
          {{ value.started | default }}
        </div>
        <div class="timeline-panel grid-block">
          <div class="timeline-heading">
            <h4 class="timeline-title">{{ value.organization | default }}</h4>
            <p>
              <small class="text-muted">
                {{ value.degree | default }}, {{ value.major | default }}
              </small>
            </p>
            {% if value.ended %}
              <p>
                <small class="text-muted">
                  <i class="fa fa-calendar"></i>
                  ({{ value.started }} - {{ value.ended }})
                </small>
              </p>
            {% endif %}
          </div>
          <div class="timeline-body">
            <p>{{ value.description | default }}</p>
          </div>
        </div>
      </li>
    {% else %}
      {% include home/_core/empty.html empty=include.empty %}
    {% endfor %}
  </ul>

{% endif %}