{% comment %}
  @name history

  @include {String} title
  @include {Array} history
  @include {String} [empty]
{% endcomment %}


{% if include.history and include.history != empty %}

  {% include home/_core/title-with-icon.html title=include.title icon="fa-book" %}

  <ul class="timeline">
    {% for value in include.history %}
      <li class="timeline-inverted">
        <div class="timeline-badge info">
          {{ value.started | default: "[unknown]" }}
        </div>
        <div class="timeline-panel grid-block">
          <div class="timeline-heading">
            <h4 class="timeline-title">
              {{ value.organization | default: "[unknown]" }}
            </h4>
            <p>
              <small class="text-muted">
                {{ value.degree | default: "[unknown]" }}, {{ value.major | default: "[unknown]" }}
              </small>
            </p>
            {% if value.duration %}
              <p>
                <small class="text-muted"><i class="fa fa-calendar"></i> {{ value.duration }}
                </small>
              </p>
            {% endif %}
          </div>
          <div class="timeline-body">
            <p>{{ value.description | default: "[unknown]" }}</p>
          </div>
        </div>
      </li>
    {% else %}
      {% include home/_core/empty.html empty=include.empty %}
    {% endfor %}
  </ul>

{% endif %}