{% assign empty = "Oops, looks like I messed up the config" %}

<div class="container-fluid">
  <div class="row-fluid">

    <div class="col-md-8">

      {% if site.author.workHistory %}
        <h3 class="title with-icon">
          <span class="glyphicon glyphicon-plane cat-title"></span>
          Work History
        </h3>
        <ul class="timeline">
          {% for work in site.author.workHistory %}
            <li class="timeline-inverted">
              {% if work.started %}
                <div class="timeline-badge info">{{ work.started }}</div>
              {% endif %}
              <div class="timeline-panel grid-block">
                <div class="timeline-heading">
                  {% if work.company %}
                    <h4 class="timeline-title">{{ work.company }} </h4>
                  {% endif %}
                  <p>
                    <small class="text-muted">
                      {% if work.title %}
                        {{ work.title }}
                      {% endif %}
                    </small>
                  </p>
                  <p>
                    <small class="text-muted">
                      {% if work.duration %}
                        <i class="fa fa-calendar"></i> {{ work.duration }} |
                      {% endif %}
                      {% if work.location %}
                        <i class="fa fa-map-marker"></i>  {{ work.location }}
                      {% endif %}
                    </small>
                  </p>
                </div>
                <div class="timeline-body">
                  {% if work.description %}
                    <p>{{ work.description }}</p>
                  {% endif %}
                </div>
              </div>
            </li>
          {% endfor %}
        </ul>
      {% endif %}

      {% if site.author.educationHistory %}
        <h3 class="title with-icon"><span class="fa fa-book cat-title"></span>Education History</h3>
        <ul class="timeline">
          {% for education in site.author.educationHistory %}
            <li class="timeline-inverted">
              {% if education.started %}
                <div class="timeline-badge info">{{ education.started }}</div>
              {% endif %}
              <div class="timeline-panel grid-block">
                <div class="timeline-heading">
                  {% if education.organization %}
                    <h4 class="timeline-title">{{ education.organization }}</h4>
                  {% endif %}
                  <p>
                    <small class="text-muted">
                      {% if education.degree %}
                        {{ education.degree }}
                      {% endif %}
                      {% if education.major %}
                        , {{ education.major }}
                      {% endif %}
                    </small>
                  </p>
                  {% if education.duration %}
                    <p>
                      <small class="text-muted"><i class="fa fa-calendar"></i> {{ education.duration }}
                      </small>
                    </p>
                  {% endif %}
                </div>
                <div class="timeline-body">
                  {% if education.description %}
                    <p>{{ education.description }}</p>
                  {% endif %}
                </div>
              </div>
            </li>
          {% endfor %}
        </ul>
      {% endif %}

    </div>

    <div class="col-md-4">

      <!-- Programming Skills -->
      {% include home/skills-chart.html title="Programming Skills" skills=site.author.programmingSkills empty=empty %}

      <div class="deviter"></div>

      <!-- Languages -->
      {% include home/skills-list.html title="Languages" skills=site.author.languages empty=empty %}

      <div class="deviter"></div>

      <!-- Location -->
      {% include home/_core/title-with-icon.html title="Location" icon="fa-location-arrow" %}
      <div class="grid-block">
        <iframe src="https://www.google.com/maps/embed/v1/place?q=auckland&key=AIzaSyClEWLh20lxrQBFR7omuuVESviszPxONyk" width="100%" height="100%" frameborder="0" style="border:0"></iframe>
      </div>

    </div>

  </div>
</div>