<div class="container-fluid">
  <div class="row-fluid">

    <div class="col-md-8">

      <!-- Work History -->
      {% include home/history.html title="Work History" icon="fa-briefcase" history=site.author.workHistory %}

      <!-- Education History -->
      {% include home/history.html title="Education History" icon="fa-book" history=site.author.educationHistory %}

    </div>

    <div class="col-md-4">

      <!-- Programming Skills -->
      {% include home/skills-chart.html title="Programming Skills" icon="fa-code" skills=site.author.programmingSkills %}

      <div class="deviter"></div>

      <!-- Languages -->
      {% include home/skills-list.html title="Languages" icon="fa-globe" skills=site.author.languages %}

      <div class="deviter"></div>

      <!-- Location -->
      {% include home/_core/title-with-icon.html title="Location" icon="fa-location-arrow" %}
      <div class="grid-block">
        <iframe src="https://www.google.com/maps/embed/v1/place?q=auckland&key=AIzaSyClEWLh20lxrQBFR7omuuVESviszPxONyk" width="100%" height="100%" frameborder="0" style="border:0"></iframe>
      </div>

    </div>

  </div>
</div>