<div class="container-fluid">
  <div class="row-fluid">

    <div class="col-md-8">

      <!-- Work History -->
      {% include home/history.html title="Work History" icon="fa-briefcase" history=site.author.workHistory %}

      <!-- Education History -->
      {% include home/history.html title="Education History" icon="fa-book" history=site.author.educationHistory %}

    </div>

    <div class="col-md-4">

      <!-- Programming Skills -->
      {% include home/skills-chart.html title="Programming Skills" icon="fa-code" skills=site.author.programmingSkills %}

      <!-- Languages -->
      {% include home/skills-list.html title="Languages" icon="fa-globe" skills=site.author.languages %}

      <!-- Location -->
      {% include home/location.html title="Location" icon="fa-location-arrow" location=site.author.location %}

    </div>

  </div>
</div>