{% comment %}
  @name skills-list

  @include {String} title
  @include {Array} skills
  @include {String} [empty]
{% endcomment %}


{% if include.skills and include.skills != empty %}

  {% include home/_core/title-with-icon.html title=include.title icon="fa-globe" %}

  <div class="grid-block">
    <ul class="list-unstyled list-strip">
      {% for skill in include.skills %}
        <li>
          <i class="fa fa-check"></i>
          {{ skill.name | default }}
          {% if skill.proficiency %}
            <span class="badge badge-green badge-right-float">
              {{ skill.proficiency }}
            </span>
          {% endif %}
        </li>
      {% else %}
        {% include home/_core/empty.html empty=include.empty %}
      {% endfor %}
    </ul>
  </div>

{% endif %}